@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.main-text{
  color:#fff;
}
.main-text-subtext{
  color:#e0e0ce;
}


.main-text-subtext a:hover{
  color:#ff8a1a;
}

.main-text-subtext a{
  -webkit-transition:  color .2s; /* Safari prior 6.1 */
  transition:  color .2s;
}

.main-text, .main-text-subtext {
  text-shadow:
    1px 2px 2px #000,
    1px 2px 4px #000,
    1px 2px 4px #000;
} 


.social-link {
text-decoration:none;
}

.social {
   -webkit-transition: fill .2s; /* Safari prior 6.1 */
  transition: fill .2s;
	fill:#fff;
}

.social-link{
  color: #fff;
  -webkit-transition:  color .2s; /* Safari prior 6.1 */
  transition:  color .2s;
}
.social-link:hover {
	color:#ff8a1a;
}

.social:hover{
  fill:#ff8a1a;
}

/** Mobile First **/

.main-text{
  font-size: 3rem;
}
h2.main-text-subtext{
  font-size: 3rem;
}

h2.main-text{
  font-size: 3rem;
}
h3.main-text-subtext.resume, h2.main-text-subtext{
  font-size: 2rem;
}
h3.main-text-subtext{
  font-size: 2rem;
}

.margin-bottom-std, #contact{
  margin-bottom: 0.6rem;
}

.social{
  width: 3rem;
  height: auto;
  margin: 0 .5rem;
}

/** ------ ----- **/

/* ---- From Milligram docs ---- */

/* Larger than mobile screen */
@media screen and (min-width: 40.0rem) { 


  .main-text{
    font-size: 4.6rem;
  }
  h2.main-text-subtext{
    font-size: 4.2rem;
  }
  
  h2.main-text{
    font-size: 3.8rem;
  }
  h3.main-text-subtext.resume, h2.main-text-subtext{
    font-size: 3.5rem;
  }
  h3.main-text-subtext{
    font-size: 3rem;
  }
  
  .margin-bottom-std, #contact{
    margin-bottom: 0.5rem;
  }
  
  .social{
    width: 4rem;
    height: auto;
    margin: 0 .5rem;
  }
  

 }

/* Larger than tablet screen */
@media screen and (min-width: 80.0rem) { 

  .main-text{
    font-size: 5rem;
  }
  h2.main-text-subtext{
    font-size: 3rem;
  }

  h2.main-text{
    font-size: 3.7rem;
  }
  h3.main-text-subtext{
    font-size: 2.8rem;
  }

  .margin-bottom-std, #contact{
    margin-bottom: 0.4rem;
  }
  
  #current-position{
    font-size:4.85rem;
  }

  #contact, h3.main-text-subtext.resume{
    font-size: 3.5rem;
  }

  .social{

    width:3.8rem;
    height: auto;
    margin: 0 1rem;
  }
 }

/* Larger than desktop screen */
@media screen and (min-width: 120.0rem) { 

 }
 
/* -------------- */

.octicon{
  color:#fff;
}


body {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #04080f;
  background-image: url("../images/background-pattern.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* font-family:  'Raleway', sans-serif,
    -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif; */
  /* font-size: 1rem; */
}


h1,h2,h3,h4,h5{
  text-align: center;
  font-weight: 400;
}

h2 {
  margin: 0;
}




.main-text-subtext a{
  text-decoration: none;
  color:#e0e0ce;
}

/**
* Alinhar itens no FLEX
*/
.social-links,
.social-links li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  /* padding: 0; */
  /* margin-right: 1rem; */
}
