<!-- <div class="column column-100"> -->
    <!-- <h3 class="main-text-subtext">Contact info:</h6> -->
    <!-- </div> -->
    </div>
    <div class="row">
      <div class="column column-100">
    <h2 class="main-text-subtext"><a href="tel:5554991995884">+55 54 99199-5884</a> | <a href="mailto:adrianogsss@gmail.com" target="_blank">adrianogsss@gmail.com</a> </h2>
    </div>
    </div>
    <!-- <div class="row margin-bottom-std">
      <div class="column column-100">
    
    </div>
    </div> -->