<!-- OLD DEPRECATED -->
<!-- <p>Experience with developing full solutions in any of these stacks: Python (Django, Flask, Celery, Django-REST, Wagtail), PHP (with PSRs, Composer, SlimPHP, Smarty/Twig, OctoberCMS), JavaScript/Typescript (Node.js, Angular, Express, Socket.IO) and with both relational (PostgreSQL, MySQL) and non-relational (MongoDB) databases </p> -->
<!--  -->
<!-- <h3 class="main-text-subtext resume"> Developing full software solutions using different stacks of technology.</h3> -->
<h4 class="main-text-subtext resume"> Previously: Full Stack Lead Software Developer</span><br> at <a class="social-link" href="https://www.ucs.br/site/isam/isam-sistema-de-informaces-ambientais-sia/" target="_blank">ISAM - UCS</a></h4>
