
<!-- partial:../partial/_html_base_header.html -->
<!-- partial -->

  <link rel="stylesheet" href="./assets/css/index.css">

<!-- partial:../partial/_html_base_header_closing_tags.html -->
<!-- partial -->


<div class="container">
  <div  class="row margin-bottom-std">
    <div class="column column-100">
  <h1 class="main-text" id="name">Adriano Gomes da Silva</h1>
  </div>
</div>
<div class="row margin-bottom-std">
  <div class="column column-100">
  <h2 class="main-text"> <span id="current-position">Full Stack Lead Software Developer</span><br> at <a class="social-link" href="https://www.ucs.br/site/isam/isam-sistema-de-informaces-ambientais-sia/" target="_blank">ISAM - UCS</a></h2>
  </div>
</div>
<div class="row margin-bottom-std">
  <div class="column column-100">
  <!-- partial:../partial/_short_resume.html -->
  <!-- partial -->
  </div>
</div>

<div class="row  ">
  <div class="column column-100">
  <h3 class="main-text-subtext">Contact info:</h6>
  </div>
  </div>
  <div class="row">
    <div class="column column-100">
  <h2 class="main-text-subtext"><a href="mailto:adrianogsss@gmail.com" target="_blank">adrianogsss@gmail.com</a></h2>
  </div>
  </div>
  <div class="row margin-bottom-std">
    <div class="column column-100">
  <h2 class="main-text-subtext"><a href="tel:5554991995884">+55 54 99199-5884</a></h2>
  </div>
  </div>
  
  <div class="row">
    <div class="column column-100">
   <!-- partial:../partial/_social_links.html -->
   <!-- partial -->
   </div>
   </div>

</div>
  
<!-- partial:../partial/_html_base_footer.html -->
<!-- partial -->
