
<!-- partial:../partial/_html_base_header.html -->
<!-- partial -->

  <link rel="stylesheet" href="./assets/css/index.css">

<!-- partial:../partial/_html_base_header_closing_tags.html -->
<!-- partial -->


<div class="container">
  <div  class="row margin-bottom-std">
    <div class="column column-100">
  <h1 class="main-text" id="name">Adriano Gomes da Silva</h1>
  </div>
</div>
<div class="row margin-bottom-std">
  <div class="column column-100">
    <!-- partial:../partial/_main_position.html -->
    <!-- partial -->  
  </div>
</div>
<div class="row margin-bottom-std">
  <div class="column column-100">
  <!-- partial:../partial/_short_resume.html -->
  <!-- partial -->
  </div>
</div>

<div class="row  ">
  <!-- partial:../partial/_html_footer_contact_info.html -->
  <!-- partial -->
  
  <div class="row">
    <div class="column column-100">
   <!-- partial:../partial/_social_links.html -->
   <!-- partial -->
   </div>
   </div>

</div>
  
<!-- partial:../partial/_html_base_footer.html -->
<!-- partial -->
