
<!-- partial:../partial/_html_base_header_default.html -->
<!-- partial -->


<!-- <div class="container"> -->
    


    <div class="container">
        <h1 class="main-text">Under Construction!</h1>
        <section class="cards">

            <article class="card">
                <!-- <a href="#"> -->
                    <div class="card-content">
                        <h5>Testing Title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum ligula semper massa tempor semper. Quisque ultrices elit at aliquam congue. Etiam tincidunt felis quis lacus vehicula, et tempor turpis rutrum. Donec accumsan ut augue tempus laoreet. Nam sed imperdiet est. Morbi auctor ex vel elit molestie consequat. Praesent semper maximus efficitur. In pharetra mattis massa, eget facilisis enim eleifend in. Fusce quis scelerisque lectus. </p>
                    </div>
                <!-- </a> -->
            </article><!-- .card -->

            <article class="card">
                <!-- <a href="#"> -->
                    <div class="card-content">
                        <h5>Testing Title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum ligula semper massa tempor semper. Quisque ultrices elit at aliquam congue. Etiam tincidunt felis quis lacus vehicula, et tempor turpis rutrum. Donec accumsan ut augue tempus laoreet. Nam sed imperdiet est. Morbi auctor ex vel elit molestie consequat. Praesent semper maximus efficitur. In pharetra mattis massa, eget facilisis enim eleifend in. Fusce quis scelerisque lectus. </p>
                    </div>
                <!-- </a> -->
            </article><!-- .card -->
            
            <article class="card">
                <!-- <a href="#"> -->
                    <div class="card-content">
                        <h5>Testing Title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum ligula semper massa tempor semper. Quisque ultrices elit at aliquam congue. Etiam tincidunt felis quis lacus vehicula, et tempor turpis rutrum. Donec accumsan ut augue tempus laoreet. Nam sed imperdiet est. Morbi auctor ex vel elit molestie consequat. Praesent semper maximus efficitur. In pharetra mattis massa, eget facilisis enim eleifend in. Fusce quis scelerisque lectus. </p>
                    </div>
                <!-- </a> -->
            </article><!-- .card -->

            <article class="card">
                <!-- <a href="#"> -->
                    <div class="card-content">
                        <h5>Testing Title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum ligula semper massa tempor semper. Quisque ultrices elit at aliquam congue. Etiam tincidunt felis quis lacus vehicula, et tempor turpis rutrum. Donec accumsan ut augue tempus laoreet. Nam sed imperdiet est. Morbi auctor ex vel elit molestie consequat. Praesent semper maximus efficitur. In pharetra mattis massa, eget facilisis enim eleifend in. Fusce quis scelerisque lectus. </p>
                    </div>
                <!-- </a> -->
            </article><!-- .card -->

            <article class="card">
                <!-- <a href="#"> -->
                    <div class="card-content">
                        <h5>Testing Title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum ligula semper massa tempor semper. Quisque ultrices elit at aliquam congue. Etiam tincidunt felis quis lacus vehicula, et tempor turpis rutrum. Donec accumsan ut augue tempus laoreet. Nam sed imperdiet est. Morbi auctor ex vel elit molestie consequat. Praesent semper maximus efficitur. In pharetra mattis massa, eget facilisis enim eleifend in. Fusce quis scelerisque lectus. </p>
                    </div>
                <!-- </a> -->
            </article><!-- .card -->

            <article class="card">
                <!-- <a href="#"> -->
                    <div class="card-content">
                        <h5>Testing Title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum ligula semper massa tempor semper. Quisque ultrices elit at aliquam congue. Etiam tincidunt felis quis lacus vehicula, et tempor turpis rutrum. Donec accumsan ut augue tempus laoreet. Nam sed imperdiet est. Morbi auctor ex vel elit molestie consequat. Praesent semper maximus efficitur. In pharetra mattis massa, eget facilisis enim eleifend in. Fusce quis scelerisque lectus. </p>
                    </div>
                <!-- </a> -->
            </article><!-- .card -->

            <article class="card">
                <!-- <a href="#"> -->
                    <div class="card-content">
                        <h5>Testing Title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum ligula semper massa tempor semper. Quisque ultrices elit at aliquam congue. Etiam tincidunt felis quis lacus vehicula, et tempor turpis rutrum. Donec accumsan ut augue tempus laoreet. Nam sed imperdiet est. Morbi auctor ex vel elit molestie consequat. Praesent semper maximus efficitur. In pharetra mattis massa, eget facilisis enim eleifend in. Fusce quis scelerisque lectus. </p>
                    </div>
                <!-- </a> -->
            </article><!-- .card -->
            
    </div>
    
  <!-- partial:../partial/_html_base_footer.html -->
  <!-- partial -->
