
<!-- partial:../partial/_html_base_header_default.html -->
<!-- partial -->


<!-- <div class="container"> -->
    


    <div class="container">
        <div class="row">
            <div class="column-100 centered">
                <h6 class="main-text ">Under Construction!</h1>
            </div>
        </div>
        <div class="row">
            <!-- <div class="centered column-100"> -->
                <fieldset>
                <input type="text" id="searchTerm">
            </fieldset>
            <!-- </div> -->
        </div>
        <section id="cards">

            <div class="row">

                <!-- partial:../partial/_card_beginning.html -->
                <!-- partial -->

                    <!-- partial:../partial/projects/_sia.html -->
                    <!-- partial -->

                <!-- partial:../partial/_card_ending.html -->
                <!-- partial -->


                <!-- partial:../partial/_card_beginning.html -->
                <!-- partial -->

                    <!-- partial:../partial/projects/_congresso.html -->
                    <!-- partial -->

                <!-- partial:../partial/_card_ending.html -->
                <!-- partial -->


                <!-- partial:../partial/_card_beginning.html -->
                <!-- partial -->

                    <!-- partial:../partial/projects/_facilitador.html -->
                    <!-- partial -->

                <!-- partial:../partial/_card_ending.html -->
                <!-- partial -->
            
            </div>
            <div class="row">

                <!-- partial:../partial/_card_beginning.html -->
                <!-- partial -->

                    <!-- partial:../partial/projects/_datawarehouse_residuos_solidos.html -->
                    <!-- partial -->

                <!-- partial:../partial/_card_ending.html -->
                <!-- partial -->


                <!-- partial:../partial/_card_beginning.html -->
                <!-- partial -->

                    <!-- partial:../partial/projects/_pdrs.html -->
                    <!-- partial -->

                <!-- partial:../partial/_card_ending.html -->
                <!-- partial -->


                <!-- partial:../partial/_card_beginning.html -->
                <!-- partial -->

                    <!-- partial:../partial/projects/_ecossistema_python.html -->
                    <!-- partial -->

                <!-- partial:../partial/_card_ending.html -->
                <!-- partial -->

            </div>
            <div class="row">

                <!-- partial:../partial/_card_beginning.html -->
                <!-- partial -->

                    <!-- partial:../partial/projects/_frases_famosas_python_scrapper.html -->
                    <!-- partial -->

                <!-- partial:../partial/_card_ending.html -->
                <!-- partial -->

                <!-- partial:../partial/_card_beginning.html -->
                <!-- partial -->

                    <!-- partial:../partial/projects/_qlearning_python.html -->
                    <!-- partial -->

                <!-- partial:../partial/_card_ending.html -->
                <!-- partial -->


                <!-- partial:../partial/_card_beginning.html -->
                <!-- partial -->

                    <!-- partial:../partial/projects/_sistema_educacao_financeira.html -->
                    <!-- partial -->

                <!-- partial:../partial/_card_ending.html -->
                <!-- partial -->
            
            </div>
            <div class="row">

                <!-- partial:../partial/_card_beginning.html -->
                <!-- partial -->

                    <!-- partial:../partial/projects/_turismop5.html -->
                    <!-- partial -->

                <!-- partial:../partial/_card_ending.html -->
                <!-- partial -->

                <!-- partial:../partial/_card_beginning.html -->
                <!-- partial -->

                    <!-- partial:../partial/projects/_angular_node_genetic_algorithm.html -->
                    <!-- partial -->

                <!-- partial:../partial/_card_ending.html -->
                <!-- partial -->

            </div>

        </section>
    </div>

    <script type="text/javascript" src="assets/js/tags.js"></script>
  <!-- partial:../partial/_html_base_footer.html -->
  <!-- partial -->
